body{
	font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: 725px) {

	body{
		background-color: #F8F9FA;
		z-index: -1;
	}

	header{
		display: flex;
		position: sticky;
		top: -20px;
		z-index: 2;
		box-sizing: content-box;
		width: auto;
		background-color: #F8F9FA;
		border-bottom: 5px solid #403449;
	}

	#div-logo{
		z-index: 2;
	}

	#logo{
		padding-left: 5px;
		padding-top: 15px;
		width: 120px;
		height: 120px;
		z-index: 2;
	}

/* Barre de boutons */

	#barre{
		display: inline;
		padding-top: 15px;
		padding-left: 2%;
		flex-direction: row;
		flex:auto;
		z-index: 2;
	}

	.bouton-barre{
		width: 16.5%;
		height: 80px;
		white-space: nowrap;
		padding-left: 0px;
		padding-right: 0px;
	}

	
	.img-barre{
		width: 30px;
		height: 30px;
	}


/* Barre de recherche */


	#search{
		margin-top: 40px;
		padding-right: 3%;
		width: 120%;
	}

	#form-search{
		display: inline-block;
		z-index: 2;
		height: 10px;
		width: 20%;
		white-space: nowrap;

	}

	#btn-search{
		/*background-color: none;*/
		border: 1px solid #767676;
		border-radius: 0px 2px 2px 0px;
		padding-top:2px;
		padding-left: 1px;
		width: 30px;
		height: 30px;
		padding-right: 3%;
		background-color: white;
		position: relative;
		right: 6px;

	}

	#img-search{
		position: relative;
		top:-1px;
		width: 26px;
		height: 26px;

	}


/* décalage corps */

	header + div {
		position: relative;
		top: 10px;
	}


	footer{
		background-color: #403449;
		border-top: 5px solid #6c757d;
		color: white;
		padding: 10px 10%;
		position: absolute;
		bottom: 0px;
		width: 100%;
	}

	footer a:link,footer a:visited,footer a:hover,footer a:active {
		color: white;
		text-decoration: none;
	}


/* Corps */
	
	#corps{
		padding-left: 10%;
		padding-right: 10%;
	}

	#titre{
		font:1.5em bold;
	}

	#form{
		display: flex;
		flex-direction: column;
	}

	#nom{
		width: 200px;
		margin-bottom: 20px;
	}
	#prenom{
		width: 200px;
		margin-bottom: 20px;
	}
	#telephone{
		width: 200px;
		margin-bottom: 20px;
	}
	#adresse{
		width: 600px;
		margin-bottom: 20px;
	}
	#ville{
		width: 300px;
		margin-bottom: 20px;
	}
	#code-postal{
		width: 150px;
		margin-bottom: 20px;
	}
	#submit{
		width: 200px;
		margin-bottom: 20px;
	}

	#titre:hover{
		background-color: red;
	}
}



@media screen and (max-width: 724px) {

	body{
		background-color: #F8F9FA;
	}

	header{
		display: flex;
		position: sticky;
		top: -100px;
		background-color: #F8F9FA;
		border-bottom: 5px solid #6c757d;
		padding-bottom: 35px;
		z-index: 2;

	}

	#logo{
		padding-left: 10px;
		padding-top: 10px;
		width: 80px;
		height: 80px;
	}

/* Barre de boutons */

	#barre{
		display: inline;
		padding-top: 15px;
		padding-left: 2%;
		flex-direction: row;
		flex:auto;
		z-index: 2;
	}

	.bouton-barre{
		width: 23%;
		height: 80px;
		padding-left: 0px;
		padding-right: 0px;
		white-space: nowrap;
	}

	
	.img-barre{
		width: 30px;
		height: 30px;
	}


/* Barre de recherche */


	#search{
		margin-top: 10px;
		padding-right: 5px;
		width: 120%;
		height: 30px;
	}

	#form-search{
		display: flex;
		z-index: 2;
		height: 10px;
		width: auto;
		max-width: 715px;
		margin-right: 10px;
		white-space: nowrap;
		/*position: relative;
		left: -80px;*/
	}

	#btn-search{
		/*background-color: none;*/
		border: 1px solid #767676;
		border-radius: 0px 2px 2px 0px;
		padding-top:2px;
		padding-left: 1px;
		width: 30px;
		height: 30px;
		padding-right: 3%;
		background-color: white;
		position: relative;
		top:10px;
		right: 2px;
	}

	#img-search{
		position: relative;
		top:-1px;
		width: 26px;
		height: 26px;

	}


	footer{
		background-color: #403449;
		border-top: 5px solid #6c757d;
		color: white;
		padding: 10px 10%;
		position: absolute;
		bottom: 0px;
		width: 100%;
	}

	footer a:link,footer a:visited,footer a:hover,footer a:active {
		color: white;
		text-decoration: none;
	}

	#corps{
		padding-left: 10%;
		padding-right: 10%;
	}

	#titre{
		font:1.5em bold;
		margin-top: 20px;
	}

	#form{
		display: flex;
		flex-direction: column;
	}

	#nom{
		max-width: 100%;
		width: 200px;
		margin-bottom: 20px;
	}
	#prenom{
		max-width: 100%;
		width: 200px;
		margin-bottom: 20px;
	}
	#telephone{
		max-width: 100%;
		width: 200px;
		margin-bottom: 20px;
	}
	#adresse{
		max-width: 100%;
		width:400px;
		margin-bottom: 20px;
	}
	#ville{
		max-width: 100%;
		width: 300px;
		margin-bottom: 20px;
	}
	#code-postal{
		max-width: 100%;
		width: 150px;
		margin-bottom: 20px;
	}
	#submit{
		width: 200px;
		margin-bottom: 20px;
	}
}